<p>error-page works!</p>

<ul>
  <li>
    <a routerLink="/auth/login">
      Ir a login
    </a>
  </li>
</ul>
<ul>
  <li>
    <a routerLink="/auth/registro">
      Ir a Registro
    </a>
  </li>
</ul>

<ul>
  <li>
    <a routerLink="/heroes/listado">
      Ir a listado
    </a>
  </li>
</ul>

<ul>
  <li>
    <a routerLink="/heroes/agregar">
      Agregar heroe
    </a>
  </li>
</ul>

<ul>
  <li>
    <a routerLink="/heroes/editar/:id">
      Editar Heroe
    </a>
  </li>
</ul>

<ul>
  <li>
    <a routerLink="/heroes/:id">
  buscar heroe por id
    </a>
  </li>
</ul>


